/*  Sample yapc css file */
p.BodyLevel1 {
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0.250em;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	letter-spacing: 0.00em;
	margin-top: 8pt;
	font-family: Arial;
	margin-left: 0pt;
	font-size: 10pt;text-decoration: none;
}
